body{
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background-image: url("../../assets/images/qbkls.png");
    background-repeat: repeat;
}

* {
    box-sizing: border-box;
}

/* general */

.container{
    width: 100%;
    max-width: 960px;  
    margin: 0 auto;
    clear: both;
}

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

h1,
h2,
h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #4aaaa5;
}

h1 {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 1px solid #dddddd;
}

h2,
h3 {
    font-size: 22px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* header */
#m-head {
    position:fixed;
    width: 100%;
    height: 90px;
    margin: 0 0 30px;
    background: #ffffff;
    box-shadow: 1px 3px 3px #cccccc;
    z-index: 99;
    overflow:auto;
}


#logo{
    float: left;
    width: 250px;
    height: 90px;
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    line-height: 90px;
    background-color: #4aaaa5;
    text-align: center;
    text-decoration: none;
}

nav{
   float: right;
}

nav a {
    display: inline-block;
    padding: 27px 15px;
    line-height: 45px;
    color: #999;
    box-shadow: 1px solid #efefef;
    transition: 0.2s;
}

nav a:first-child {
    border-left: 0 none;
}

nav a:hover{
    background-color: #dfdfdf;
}

/* footer */

footer{
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #fff;
    color: #ccc;
    text-align: center;
    background: #666;
    box-shadow: 1px 3px 3px #efefef;
    border-top: 2px solid #4aaaa5;
    height: 50px;
    line-height: 1px;;
}

h3, h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}

/* main */

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px)
}

.main-section{
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: #fff;
    border: 1px solid #ddd;
}


/* portfolio img */

/* .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

.work:nth-child(even){
    margin-right: 40px;
}

.work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
} */

.self {
    float: left;
    max-width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

.grid-container{
    max-width: 890px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    float: left;
}

.grid-container img{
    float: left;
    margin-bottom: 35px;
    margin-top: 0;
    max-width: 890px;
    width: 100%;
}

.box{
    float: left;
    position: relative;
    width: relative;
    overflow: hidden;
}

.box-text{
    color: white;
    position: absolute;
    bottom: 35px;
    text-align: center;
    line-height: 70px;
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.box:hover .box-text{
    visibility: visible;
    opacity: 0.7;
}

/* contact */
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #4aaaa5;
    color:white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color:darkcyan;
}

.column{
    float: left;
    width: 890px;
    margin-top: 6px;
    padding: 35px;
    padding-top: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 812px) {
    
    
    .column, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

    h1 {
        font-size: 25px;
    }

    #logo {
        font-size: 25px;
        height: 45px;
        line-height: 45px;
        width: 100%;
    }

    nav {
        float: none;
        text-align: center;
        clear: both;
    }

    nav a{
        margin: 0;
        padding-top: 1px;
        padding-bottom: 0;
    }

    .self{
        float: none;
        width: 400px;
        margin: 0 auto;
    }

    .main-section p {
        clear: both;
    }

    .footer {
        padding: 0;
        height: 25px;
        line-height: 25px;
    }
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color:  #777777;
}

#preload-01 { background: url(../../assets/images/dontfeelgood.png) no-repeat -9999px -9999px;}

