body{
    background-image: url("../../assets/images/qbkls.png");
    background-repeat: repeat;
}

nav{
    position:fixed;
    display:block;
    float: left;
    height: 90px;
    right: 0;
    left: 0;
    top: 0;
    background-color: #ffffff;
    box-shadow: 1px 3px 3px #cccccc;
    z-index: 1;
    overflow:hidden;
}

.about{
    position: relative;
}

.aboutMe{
    clear: both;
    float: left;
    width: 890px;
    line-height:30px;
    margin:auto;
    margin-bottom: 30px;
    margin-left: 35px;
}

.aboutMe p{
    margin-top: 25px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.clinks{
    float: right;
    line-height: 90px;
    width: 230;
    z-index: 2;
    height: 90px;
}

.clinks a{
    position: relative;
    background-color: white;
    height: 90px;
    padding: 36px 15px 37px 15px;
    transition: .2s;
}

.clinks a:hover {
    background-color: #dfdfdf;
}

.container{
    clear: both;
    float: middle;
    margin: 120px auto 120px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;  
    width: 960px;
    overflow: hidden;
}

.fclass{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.hclass{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 30px;
    position: relative;
    float:left;
    height: 60px;
    width: 900px;
    margin-bottom: 60px;
    border-bottom: 1px solid #dddddd;
    top: 35px;
    left: 35px;
    color: #4aaaa5;
}

.hclass:hover{
    color: #4aaaa5;
}

.navContainer{
    width: 960px;
    margin: auto;
}
.grid-container{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 890px;
    float: left;
}

.grid-container img{
    float: left;
    margin: 35px;
    margin-top: 0;
    max-width: 890px;
}

.box{
    float: left;
    position: relative;
    width: relative;
    overflow: hidden;
}

.box-text{
    color: white;
    position: absolute;
    bottom: 35px;
    left: 35px;
    text-align: center;
    line-height: 70px;
    background-color: black;
    width: 92.70833333333333%;
    height: 70px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.box:hover .box-text{
    visibility: visible;
    opacity: 0.7;
}

.footer{
    height: 50px;
    margin-top: -50px;
}

*{
    box-sizing: border-box;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit]{
    background-color: #4aaaa5;
    color:white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color:darkcyan;
}

.column{
    float: left;
    width: 890px;
    margin-top: 6px;
    padding: 35px;
    padding-top: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color:  #777777;
}

#logo{
    position: relative;
    float: left;
    top: 0;
    left:0;
    color: #ffffff;
    background-color: #4aaaa5;
    width: 230px;
    height:90px;
    text-align: center;
    line-height: 90px;
}

#self{
    position: relative;
    float: left;
    margin-right: 25px;
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 830px) {
    .column, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }

    .container{
        width:600px;
    }

    .navContainer{
        width: 600px;
    }

    .grid-container img{
        width: 530px;
        margin-right: 0;
    }

    .grid-container{
        width: 530px;
    }

    .box-text{
        width: 100%;
    }
    
    .hclass{
        width: 530px;
    }

    .aboutMe{
        width: 530px;
    }

}

#preload-01 { background: url(../../assets/images/dontfeelgood.png) no-repeat -9999px -9999px;}

